@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: rgb(247, 247, 247);
    scroll-behavior: smooth;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 57px auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.navbar-dark {
    background-color: #050714
}

.footer {
    height: 60px;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input, .grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

/*  custom style  */

.dark_bg {
    background-color: #050714;
}

.darkish_bg {
    background-color: #0B0D19;
}

.grey_bg {
    background-color: #EEEBEB;
}

.greyish_bg {
    background-color: #F2F2F2;
}

.grayish_bg {
    background-color: #F9F9F9;
}

.pinkish_bg {
    background-color: #FE1355;
}
.pinkish_text{
    color: #FE1355;
}
.dark_light_bg {
    background: -webkit-linear-gradient(0deg, #DDDDDD 55%, #0B0D19 55%);
    background: -o-linear-gradient(0deg, #DDDDDD 55%, #0B0D19 55%);
    background: -moz-linear-gradient(0deg, #DDDDDD 55%, #0B0D19 55%);
    background: linear-gradient(0deg, #DDDDDD 55%, #0B0D19 55%);
}

.full_width {
    width: 100%;
}
.height_100vh{
    min-height: 100vh;
}
.card {
    border: none;
    color: black;
    background-color: #EFEFEF;
}

.btn_icon {
    color: white;
    padding: 6px 6px 0px 6px;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
.noVpadding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.padding_section {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.padding_select {
    padding-top: 1vh;
    padding-bottom: 4vh;
}
.padding_hero {
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.padding_event {
    padding-top: 15vh;
    padding-bottom: 15vh;
}
.pagination_center {
    justify-content: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1456428746267-a1756408f782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: flex;
    min-height: 50vh;
}

.gradient-hero {
    min-height: 50vh;
    background-position: center center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.gradient-hero:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: " ";
    background: radial-gradient(ellipse at center, #0B0D19 10%, #FE1355 100%);
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.center-content {
    width: 700px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;
    z-index: 2;
}


.respuesta-form input{
    width: 100%;
}
.respuesta-form textarea{
    width: 100%;
    min-height: 150px;
}
.alert {
    margin-bottom: 0px;
}

.btn {
    background-color: #FE1355;
    color: aliceblue!important;
    border: none;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #050714;
    color: aliceblue!important;
}

.btn_event {
    width: 100%;
    background-color: #FE1355;
    color: aliceblue!important;
    border: none;
    text-transform: capitalize;
}

.btn_event:hover {
    background-color: #050714;
}

.btn_publish {
    background-color: transparent!important;
    color: #e6fff7!important;
    border-color: #e6fff7!important;
    border: solid 2px;
}

.btn_publish:hover {
    border-color: #cccccc!important;
    color: #cccccc!important;
}

.btn_hide {
    background-color: transparent!important;
    color: #fde6a2!important;
    border-color: #fde6a2!important;
    border: solid 2px;
}

.btn_hide:hover {
    border-color: #f1f1f1!important;
    color: #f1f1f1;
}

.btn_edit {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn_edit:hover {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn:focus {
    outline: 0!important;
    box-shadow: none;
}

.link:hover {
    color: #FE1355!important;
}

section {
    padding: 70px 15px 20px;
}

.page-link {
    color: #FE1355;
}

.page-link a:hover {
    color: #050714;
}

.borderless td, .borderless th {
    border: none;
}

.clip_circle {
    -webkit-mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
    mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus, .nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.form-advice {
    color: #999;
    /*border: 1px solid black;*/
}

.showPw {
    margin-left: -22px;
}

.bg-profile-sidebar {
    background-color: rgb(233, 236, 239);
    /*border: 1px solid black;*/
}

.profile-sidebar a:hover {
    background-color: powderblue;
}

#fechaLimite {
    display: none;
}

.filter-white {
    filter: invert(99%) sepia(6%) saturate(443%) hue-rotate(113deg) brightness(121%) contrast(100%);
}

/* button subir imagen a perfil */

.uploadProfileImage {
    width: 150px;
    margin-top: -20px;
}

.uploadProfileImage img {
    filter: invert(99%) sepia(6%) saturate(443%) hue-rotate(113deg) brightness(121%) contrast(100%);
}

#mostrarCapacidad {
    display: none;
}

@media only screen and (max-width: 767px) {
    .padding_logo {
        padding-left: 10vw;
        padding-right: 10vh;
    }
    .container {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}